[Package]
version: 1
depends: 

[Product]
type: localboot
id: mobaxterm
name: MobaXterm
description: 
advice: 
version: 24.2.0.5220
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 
